h1 {
    text-align: center;
    background-color: rgb(196, 193, 193);
}

.sub {
    background-color: #e5e5e5;
    
    margin-bottom: 10px;
}

.cris {
    text-align: center;
    background-color: #e5e5e5;
}

p {
    font-family: 'Times New Roman', Times, serif;
}

.parrafo {
    font-family: cursive;
    font-size: 1em;
    font-style: oblique;
}

body {
    margin: 10px;
    padding: 10px;
   
}
img {
    max-width: 100%;
    max-height: 100%;
}

.foto {   
    height: 200px;
    width: 200px;   
}

header {
    background-color: #f5f5f5;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-block-end: 5px;
}

.cuerpo {
    background-color: rgb(196, 193, 193);  
}

footer {
    text-align: center;
    margin: 0%;
    background-color: rgb(196, 193, 193);
}

ul {
    list-style: none; /* Quitamos los marcadores */
    padding: 0; /* Quitamos el padding por defecto de la lista */
    margin-left: 200px; /* Separamos la lista de la izquierda */
    margin-right: 5px;
    }
    
    li::before { /* Añadimos contenido antes de cada elemento de la lista */
    content: "\2022"; /* Insertamos el marcador */
    padding-right: 8px; /* Establecemos el espacio entre las viñetas y el list item */
   
    }

    ul {
        list-style: none;
        }
        ul li {
        padding: 8px 10px;
        color: #111;
        }		
        ul li:nth-child(odd) { /* filas pares */
        background-color: #f5f5f5;
        }
        ul li:nth-child(even) { /* filas impares */
        background-color: #e5e5e5;
        }
